@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');



$Font: 'Montserrat', sans-serif;

.nav-bar {
  height: 169px;
  .customer-bar {
    height: 40px;
    margin: 0;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    .customer-local {
      height: 40px;
      width: 87.44px;
      border-right: 1px solid #3f3f3f;
      padding: 0 20px;
      transition: background-color .25s;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: #383838;
      }
      a {
        height: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        font-family: $Font;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        font-size: 11px;
        letter-spacing: .25px;
        line-height: 40px;
        color: white;
        cursor: pointer;
        position: relative;
        transition: color .25s;
        .flag {
          height: 12px;
          width: 16px;
          margin-right: 13px;
          background: url("http://demandware.edgesuite.net/aayf_prd/on/demandware.static/Sites-US-Site/-/en_US/v1482042930272/css/flags/4x3/us.svg");
          background-size: contain;
          background-position: 50%;
        }
        .language {
        }
        &:hover {
          color: #d54d4d;
        }
      }
    }
    .customer-account {
      height: 40px;
      width: 268.22px;
      border: 0;
      display: flex;
      flex-direction: row;
      .login {
        height: 40px;
        width: 97.45px;
        font-family: $Font;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        font-size: 11px;
        letter-spacing: .25px;
        line-height: 40px;
        color: white;
        border-left: 1px solid #3f3f3f;
        transition: background-color .25s;
        a {
          cursor: pointer;
        }
        &:hover {
          background-color: #383838;
        }
      }
      .my-cart {
        height: 40px;
        width: 129.77px;
        font-family: $Font;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        font-size: 11px;
        letter-spacing: .25px;
        line-height: 40px;
        color: white;
        cursor: pointer;
        border-left: 1px solid #3f3f3f;
        transition: background-color .25s;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .icon-cart {
          color: #616161;
          padding-right: 10px;
          font-size: 16px;
          transition: color .25s;
        }
        &:hover {
          background-color: #383838;
          .icon-cart {
            color: #d54d4d;
          }
        }
      }
      .cart-quantity {
        height: 40px;
        width: 40px;
        font-family: $Font;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        font-size: 12px;
        letter-spacing: .25px;
        line-height: 40px;
        color: white;
        cursor: pointer;
        background-color: #d54d4d;
      }
    }
  }
  .nav-site {
    height: 100px;
    margin-top: 19px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    .nixon-title-logo {
      height: 90px;
      width: 25%;
      padding-left: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        height: 24px;
        width: 120px;
        max-width: 120px;
        cursor: pointer;
      }
    }
    .nav-options {
      width: 50%;
      padding: 0 5px;
      font-family: $Font;
      -webkit-font-smoothing: antialiased;
      text-align: center;
      font-size: 12px;
      letter-spacing: .25px;
      line-height: 30px;
      color: #1e1e1e;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
      li {
        height: 60px;
        margin-top: 2px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        &:hover {
          border-bottom: 2px solid #1e1e1e;
        }
      }
    }
    .search-bar {
      height: 90px;
      width: 25%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 50px;
      form {
        height: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .search-input::-webkit-input-placeholder {
          color: #434246;
        }
        input {
          height: 40px;
          width: 100px;
          background-color: white;
          font-family: $Font;
          font-size: 13px;
          -webkit-font-smoothing: antialiased;
          letter-spacing: .25;
          padding-left: 15px;
          line-height: 40px;
          border: 2px solid #1e1e1e;
          outline: none;
          border-right: 0;
          transition: width .25s;
          &:focus {
            width: 155px;
          }
        }
        button {
          height: 40px;
          width: 40px;
          line-height: 40px;
          background-color: white;
          outline: none;
          border: 2px solid #1e1e1e;
          border-left: 0;
          .icon-search {
            font-size: 18px;
          }
        }
      }
    }
  }
}
.sw-img-one {
  min-height: 570px;
  background: url("http://demandware.edgesuite.net/aayf_prd/on/demandware.static/-/Library-Sites-Nixon/default/dw838f49ec/16-4/homepage/12-12/STAR-WARS-DEATH-TROOPER-TIER1.jpg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.sw-collection {
  height: 245px;
  padding: 15px 0 39px 0;
  background: #f7f8f9;
  .collection-wrap {
    height: 171px;
    max-width: 980px;
    margin: 0 auto;
    font-family: $Font;
    color: #1e1e1e;
    .sw-header {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 28px;
      line-height: 30px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      -webkit-font-smoothing: antialiased;
      sup {
        position: relative;
        top: -0.25em;
        display: flex;
        align-items: baseline;
        font-size: 75%;
      }
    }
    .rogue-one {
      width: 100%;
      font-size: 13px;
      letter-spacing: .00125em;
      margin-top: 14px;
      display: flex;
      justify-content: center;
    }
    .promotion {
      width: 100%;
      color: #acb1b4;
      font-size: 13px;
      margin-top: 13px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      -webkit-font-smoothing: antialiased;
      letter-spacing: .25px;
      a {
        text-decoration: underline;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }
      sup {
        position: relative;
        top: -0.25em;
        display: flex;
        align-items: baseline;
        font-size: 75%;
      }
      small {
        font-size: 80%;
        position: relative;
        align-self: flex-end;
      }
    }
    .shop-div {
      width: 100%;
      display: flex;
      justify-content: center;
      button {
        height: 46px;
        width: 200px;
        font-size: 13px;
        -webkit-font-smoothing: antialiased;
        font-weight: 500;
        letter-spacing: .05em;
        line-height: 46px;
        padding: 0 20px;
        background-color: #1e1e1e;
        border: 0;
        cursor: pointer;
        color: white;
        &:hover {
          box-shadow: inset 0 0 0 3px #383838;
        }
      }
    }
  }
}
.watch-row-one-wrap {
  height: 391px;
  background: #f7f8f9;
  margin-top: -13px;
  .watch-row-container {
    height: 391px;
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    .watch-div {
      height: 391px;
      width: 33.3333333333%;
      padding-top: 1em;
      padding-left: 1em;
      color: #1e1e1e;
      font-family: $Font;
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: .25px;
      line-height: 15px;
      -webkit-font-smoothing: antialiased;
      .inner-watch-wrap {
        .watch-img {
          height: 247px;
          transition: opacity .25s;
          cursor: pointer;
          &:hover {
            opacity: .7;
          }
        }
        .description-wrap  {
          height: 51px;
          margin-top: 24px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          a {
            cursor: pointer;
            color: #acb1b4;
            font-size: 11px;
            letter-spacing: .25px;
            text-align: center;
          }
          span {
            cursor: pointer;
            color: #1e1e1e;
            font-size: 12px;
            margin-top: 6px;
            text-align: center;
            letter-spacing: .25px;
          }
        }
      }
    }
  }
}
.nixon-essentials-container {
  height: 638px;
  padding-bottom: 15px;
  .nixon-essentials-wrap {
    height: 561px;
    margin: 60px 0;
    .inner-container {
      height: 561px;
      max-width: 940px;
      margin: 0 auto;
      .content-container {
        box-sizing: border-box;
        color: #1e1e1e;
        font-family: $Font;
        h2 {
          font-size: 24px;
          font-weight: 700;
          letter-spacing: .007em;
          line-height: 24px;
          padding-top: 30px;
          margin-top: 20px;
          margin-bottom: 10px;
          text-align: center;
        }
        p {
          margin-bottom: 25px;
          color: #acb1b4;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: .25px;
          margin-top: 21px;
          padding: 0 17.666%;
          text-align: center;
          -webkit-font-smoothing: antialiased;
          text-transform: none;
        }
        .watch-container {
          margin-top: -1em;
          margin-left: -1em;
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          .single-watch-div {
            width: 25%;
            box-sizing: border-box;
            margin-right: -0.31em;
            padding-top: 1em;
            padding-left: 1em;
            .watch-inner-wrap {
              box-sizing: border-box;
              font-family: $Font;
              .top-spacer {
                height: 30px;
              }
              .watch-img-wrap {
                height: 261px;
                position: relative;
                padding: 18px 35px 19px;
                .watch-img {
                  height: 100%;
                  max-width: 100%;
                  cursor: pointer;
                }
              }
              .watch-title {
                margin: 24px 0 10px 0;
                text-align: center;
                color: #1e1e1e;
                cursor: pointer;
                span {
                  text-decoration: none;
                  font-size: 12px;
                  letter-spacing: .75px;
                }
                sub {
                  left: -0.35em;
                  font-size: 60%;
                }
                &:hover {
                  color: #acb1b4;
                }
              }
              .watch-pricing {
                text-align: center;
                color: #9b9e9f;
                margin-bottom: 5px;
                font-size: 11px;
                letter-spacing: .25px;
                -webkit-font-smoothing: antialiased;
                .pricing-separator {
                  padding: 0 4px;
                }
              }
              .bottom-spacer {
                min-height: 55px;
                margin: 14px 14px 0;
              }
            }
          }
        }
      }
    }
  }
}
.collaborative-video-container {
  height: 1113px;
  .collaborative-video-inner-container {
    height: 1113px;
    padding-bottom: 15px;
    background-color: #f7f8f9;
    .content-wrapper {
      height: 1098px;
      max-width: 940px;
      margin: 0 auto;
      padding-top: 60px;
      .image-container {
        height: 419px;
        margin-top: -1em;
        margin-left: -1em;
        display: flex;
        flex-direction: row;
        .image-div-wrapper {
          height: 419px;
          width: 50%;
          margin-right: -0.31em;
          padding-top: 1em;
          padding-left: 1em;
          .image-content {
            height: 364px;
            .image {
              height: 300px;
              cursor: pointer;
            }
            .image-text {
              height: 39px;
              margin-top: 22px;
              margin-bottom: 42px;
              font-family: $Font;
              -webkit-font-smoothing: antialiased;
              letter-spacing: .25px;
              line-height: 15px;
              text-align: center;
              display: flex;
              flex-direction: column;
              justify-content: center;
              .light-gray {
                height: 23px;
                padding-bottom: 8px; // NOT APPLYING
                color: #acb1b4;
                font-weight: 400;
                font-size: 11px;
              }
              .dark-gray {
                color: #1e1e1e;
                font-size: 12px;
                font-weight: 400;
              }
            }
          }
        }
      }
      .video-container {
        height: 631.75px;
        width: 100%;
        .video-content {
          height: 589.75px;
          .video-wrapper {
            height: 528.75px;
            .nixon-video {
              width: 940px;
              height: 528.28px;
            }
          }
          .video-caption {
            margin-top: 22px;
            margin-bottom: 42px;
            font-family: $Font;
            letter-spacing: .25px;
            line-height: 15px;
            -webkit-font-smoothing: antialiased;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .light-gray-caption {
              color: #acb1b4;
              font-weight: 400;
              font-size: 11px;
              text-align: center;
              padding-bottom: 8px;
            }
            .dark-gray-caption {
              color: #1e1e1e;
              font-size: 12px;
              font-weight: 400;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
.stainless-steel-container {
  height: 516px;
  .inner-container {
    height: 516px;
    max-width: 940px;
    background: white;
    margin: 0 auto 60px;
    .header-wrap {
      height: 73px;
      color: #1e1e1e;
      font-family: $Font;
      h2 {
        font-size: 24px;
        letter-spacing: 0;
        line-height: 28px;
        padding-top: 35px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
      }
    }
    .watch-container {
      height: 456px;
      margin-top: -1em;
      margin-left: -1em;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      .diameter-wrap {
        height: 133px;
        width: 33.3333333333%;
        padding-top: 1em;
        padding-left: 1em;
        .inner-wrap {
          height: 94px;
          width: 195px;
          margin: 0 18%;
          ul {
            height: 94px;
            width: 195px;
            .diameter {
              height: 34px;
              margin-bottom: 26px;
              position: relative;
              min-width: 232px;
              font-family: $Font;
              font-style: normal;
              letter-spacing: .25px;
              line-height: 15px;
              -webkit-font-smoothing: antialiased;
              .dm-icons {
                font-size: 28px;
                color: #1e1e1e;
                top: 6px;
                left: 10px;
                position: absolute;
              }
              span {
                left: 63px;
                position: absolute;
                top: 14px;
                color: #1e1e1e;
                font-size: 13px;
                font-weight: bold;
                text-transform: uppercase;
                sub {
                  top: .0125em;
                  position: relative;
                  bottom: -0.25em;
                  font-size: 75%;
                  line-height: 0;
                  color: #1e1e1e;
                  font-weight: bold;
                  text-transform: uppercase;
                }
              }
            }
            .meters {
            }
          }
        }
      }
      .watch-img-wrap {
        height: 456px;
        width: 33.3333333333%;
        cursor: pointer;
        padding-top: 1em;
        padding-left: 1em;
        .watch-img {
          height: 440px;
          width: 300px;
        }
      }
      .watch-title-wrap {
        height: 289px;
        width: 33.3333333333%;
        margin-right: -0.31em;
        padding-top: 1em;
        padding-left: 1em;
        .content-wrap {
          height: 163px;
          font-family: $Font;
          color: #1e1e1e;
          -webkit-font-smoothing: antialiased;
          display: flex;
          justify-content: center;
          flex-direction: column;
          h3 {
            font-size: 22px;
            letter-spacing: .25px;
            text-align: center;
            line-height: 26px;
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: 700;
            sub {
              top: .0125em;
              bottom: -0.25em;
              font-size: 75%;
              line-height: 0;
            }
          }
          span {
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
            color: #acb1b4;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: .25px;
            line-height: 15px;
          }
          p {
            margin: 10px 25px 14px;
            color: #1e1e1e;
            padding: 10px 0 14px;
            text-align: center;
            font-size: 12px;
            line-height: 22px;
            letter-spacing: .25px;
          }
        }
        .button-wrap {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          button {
            height: 46px;
            width: 200px;
            font-size: 13px;
            -webkit-font-smoothing: antialiased;
            font-weight: 500;
            line-height: 46px;
            padding: 0 20px;
            background-color: #1e1e1e;
            border: 0;
            cursor: pointer;
            color: white;
            &:hover {
              box-shadow: inset 0 0 0 3px #383838;
            }
          }
          .top-btn {
            letter-spacing: .05em;
            margin-bottom: 19px;
          }
        }
      }
    }
  }
}
.shop-by-case {
  height: 429px;
  margin-top: 60px;
  padding-bottom: 40px;
  .shop-container {
    height: 389px;
    max-width: 940px;
    margin: 0 auto;
    font-family: $Font;
    -webkit-font-smoothing: antialiased;
    h2 {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 28px;
      padding-top: 55px;
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: center;
    }
    p {
      font-size: 12px;
      line-height: 22px;
      letter-spacing: .25px;
      text-align: center;
      color: #acb1b4;
      max-width: 460px;
      margin: 15px auto 34px;
      padding: 0 30px;
    }
    .watch-size-container {
      height: 226px;
      display: flex;
      flex-direction: row;
      .individual-watch-div {
        width: 25%;
        height: 226px;
        padding-top: 1em;
        padding-left: 1em;
        .hover-div {
          transition: transform .25s;
          .size {
            font-size: 13px;
            font-style: normal;
            letter-spacing: .25px;
            line-height: 15px;
            color: #acb1b4;
            font-weight: 400;
            margin-bottom: 10px;
            text-align: center;
            cursor: pointer;
          }
          .measurement {
            color: #1e1e1e;
            margin-bottom: 10px;
            text-align: center;
            font-size: 13px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: .25px;
            line-height: 15px;
            cursor: pointer;
            sub {
              font-size: 75%;
              line-height: 0;
              cursor: pointer;
            }
          }
          &:hover {
            transform: translateY(-5px);
          }
        }
        .image-wrap {
          height: 154.53px;
          width: 100%;
          display: flex;
          justify-content: center;
          .size-image {
            width: 200px;
            height: 154.53px;
            margin-bottom: 5px;
            cursor: pointer;
            transition: transform .25s;
            &:hover {
              transform: scale(1.06);
            }
          }
        }
      }
    }
  }
}
.exclusive-offers {
  height: 116px;
  background-color: #f7f8f9;
  border-bottom: 1px solid #d1d4d6;
  border-top: 1px solid #d1d4d6;
  .content-container {
    height: 61px;
    margin: 28px auto 25px;
    max-width: 960px;
    .exclusive-form {
      height: 100%;
      width: 100%;
      color: #1e1e1e;
      font-family: $Font;
      font-weight: 400;
      font-style: normal;
      letter-spacing: .25px;
      line-height: 15px;
      -webkit-font-smoothing: antialiased;
      display: flex;
      flex-direction: row;
      .label {
        width: 33.3333333333%;
        text-align: right;
        padding-top: 3px;
        font-size: 18px;
        line-height: 38px;
        color: #2c2d2d;
      }
      .input-wrap {
        width: 33.3333333333%;
        height: 38px;
        margin-left: 0;
        padding-left: 30px;
        padding-right: 30px;
        input {
          border: 1px solid #acb1b4;
          font-family: $Font;
          font-size: 13px;
          -webkit-font-smoothing: antialiased;
          padding: .7em .5em;
          text-indent: 0;
          height: 38px;
          width: 100%;
          background-color: white;
        }
      }
      .join-wrap {
        width: 33.3333333333%;
        button {
          width: 120px;
          height: 46px;
          color: white;
          font-family: $Font;
          background-color: #1e1e1e;
          border: 0;
          box-shadow: inset 0 0 0 3px #1e1e1e;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: .05em;
          line-height: 46px;
          max-width: 404px;
          margin-bottom: .25em;
          padding: 0 20px;
          text-align: center;
          cursor: pointer;
          &:hover {
            box-shadow: inset 0 0 0 3px #383838;
          }
        }
      }
    }
  }
}
.footer-links {
  height: 304px;
  width: 100%;
  margin-top: 30px;
  .content-container {
    height: 304px;
    padding-right: 2em;
    margin: 0 auto;
    max-width: 980px;
    padding-bottom: 58px;
    display: flex;
    flex-direction: row;
    .column-links {
      height: 246px;
      margin-right: -0.31em;
      width: 16.6666666667%;
      margin-left: 8.3333333333%;
      padding-left: 1em;
      font-family: $Font;
      h3 {
        font-size: 12px;
        line-height: 26px;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 4px;
        letter-spacing: .5px;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      hr {
        background: #1e1e1e;
        border: 0;
        color: #1e1e1e;
        float: left;
        height: 2px;
        margin: 0;
        text-align: left;
        width: 36px;
      }
      ul {
        margin: 28px 0 0;
        .list-item {
          line-height: 18px;
          margin: 10px 0;
          .item-text {
            color: #1e1e1e;
            font-size: 11px;
            text-decoration: none;
            cursor: pointer;
            &:hover {
              color: #acb1b4;
            }
          }
        }
      }
    }
  }
}
.footer-image {
  height: 511px;
  font-family: $Font;
  color: #1e1e1e;
  letter-spacing: .25px;
  p {
    width: 62%;
    height: 400px;
    font-size: 16px;
    line-height: 30px;
    margin: auto;
    min-width: 320px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    padding: 250px 0 60px;
    em {
      font-style: italic;
    }
  }
  .social-icons {
    width: 25%;
    height: 23px;
    margin: 0 auto 23px;
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      li {
        margin: 0 11px;
        font-size: 15px;
        -webkit-font-smoothing: antialiased;
        transition: opacity .25s;
        cursor: pointer;
        &:hover {
          opacity: .6;
        }
      }
    }
  }
  .nixon-signature {
    padding-bottom: 50px;
    font-size: 11px;
    margin: auto;
    min-width: 320px;
    max-width: 1280px;
    text-align: center;
    width: 25%;
  }
}

// SCROLL TO TOP BUTTON
.scroll-btn {
  width: 36px;
  height: 50px;
  position: fixed;
  right: 0px;
  bottom: 100px;
  background-color: #1e1e1e;
  cursor: pointer;
  behavior: smooth;
}
