@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
.nav-bar {
  height: 169px; }
  .nav-bar .customer-bar {
    height: 40px;
    margin: 0;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between; }
    .nav-bar .customer-bar .customer-local {
      height: 40px;
      width: 87.44px;
      border-right: 1px solid #3f3f3f;
      padding: 0 20px;
      transition: background-color .25s;
      display: flex;
      justify-content: center;
      align-items: center; }
      .nav-bar .customer-bar .customer-local:hover {
        background-color: #383838; }
      .nav-bar .customer-bar .customer-local a {
        height: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        font-family: "Montserrat", sans-serif;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        font-size: 11px;
        letter-spacing: .25px;
        line-height: 40px;
        color: white;
        cursor: pointer;
        position: relative;
        transition: color .25s; }
        .nav-bar .customer-bar .customer-local a .flag {
          height: 12px;
          width: 16px;
          margin-right: 13px;
          background: url("http://demandware.edgesuite.net/aayf_prd/on/demandware.static/Sites-US-Site/-/en_US/v1482042930272/css/flags/4x3/us.svg");
          background-size: contain;
          background-position: 50%; }
        .nav-bar .customer-bar .customer-local a:hover {
          color: #d54d4d; }
    .nav-bar .customer-bar .customer-account {
      height: 40px;
      width: 268.22px;
      border: 0;
      display: flex;
      flex-direction: row; }
      .nav-bar .customer-bar .customer-account .login {
        height: 40px;
        width: 97.45px;
        font-family: "Montserrat", sans-serif;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        font-size: 11px;
        letter-spacing: .25px;
        line-height: 40px;
        color: white;
        border-left: 1px solid #3f3f3f;
        transition: background-color .25s; }
        .nav-bar .customer-bar .customer-account .login a {
          cursor: pointer; }
        .nav-bar .customer-bar .customer-account .login:hover {
          background-color: #383838; }
      .nav-bar .customer-bar .customer-account .my-cart {
        height: 40px;
        width: 129.77px;
        font-family: "Montserrat", sans-serif;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        font-size: 11px;
        letter-spacing: .25px;
        line-height: 40px;
        color: white;
        cursor: pointer;
        border-left: 1px solid #3f3f3f;
        transition: background-color .25s;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .nav-bar .customer-bar .customer-account .my-cart .icon-cart {
          color: #616161;
          padding-right: 10px;
          font-size: 16px;
          transition: color .25s; }
        .nav-bar .customer-bar .customer-account .my-cart:hover {
          background-color: #383838; }
          .nav-bar .customer-bar .customer-account .my-cart:hover .icon-cart {
            color: #d54d4d; }
      .nav-bar .customer-bar .customer-account .cart-quantity {
        height: 40px;
        width: 40px;
        font-family: "Montserrat", sans-serif;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        font-size: 12px;
        letter-spacing: .25px;
        line-height: 40px;
        color: white;
        cursor: pointer;
        background-color: #d54d4d; }
  .nav-bar .nav-site {
    height: 100px;
    margin-top: 19px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap; }
    .nav-bar .nav-site .nixon-title-logo {
      height: 90px;
      width: 25%;
      padding-left: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .nav-bar .nav-site .nixon-title-logo img {
        height: 24px;
        width: 120px;
        max-width: 120px;
        cursor: pointer; }
    .nav-bar .nav-site .nav-options {
      width: 50%;
      padding: 0 5px;
      font-family: "Montserrat", sans-serif;
      -webkit-font-smoothing: antialiased;
      text-align: center;
      font-size: 12px;
      letter-spacing: .25px;
      line-height: 30px;
      color: #1e1e1e;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap; }
      .nav-bar .nav-site .nav-options li {
        height: 60px;
        margin-top: 2px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        cursor: pointer;
        border-bottom: 2px solid transparent; }
        .nav-bar .nav-site .nav-options li:hover {
          border-bottom: 2px solid #1e1e1e; }
    .nav-bar .nav-site .search-bar {
      height: 90px;
      width: 25%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 50px; }
      .nav-bar .nav-site .search-bar form {
        height: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; }
        .nav-bar .nav-site .search-bar form .search-input::-webkit-input-placeholder {
          color: #434246; }
        .nav-bar .nav-site .search-bar form input {
          height: 40px;
          width: 100px;
          background-color: white;
          font-family: "Montserrat", sans-serif;
          font-size: 13px;
          -webkit-font-smoothing: antialiased;
          letter-spacing: .25;
          padding-left: 15px;
          line-height: 40px;
          border: 2px solid #1e1e1e;
          outline: none;
          border-right: 0;
          transition: width .25s; }
          .nav-bar .nav-site .search-bar form input:focus {
            width: 155px; }
        .nav-bar .nav-site .search-bar form button {
          height: 40px;
          width: 40px;
          line-height: 40px;
          background-color: white;
          outline: none;
          border: 2px solid #1e1e1e;
          border-left: 0; }
          .nav-bar .nav-site .search-bar form button .icon-search {
            font-size: 18px; }

.sw-img-one {
  min-height: 570px;
  background: url("http://demandware.edgesuite.net/aayf_prd/on/demandware.static/-/Library-Sites-Nixon/default/dw838f49ec/16-4/homepage/12-12/STAR-WARS-DEATH-TROOPER-TIER1.jpg");
  background-position: center;
  background-size: cover;
  cursor: pointer; }

.sw-collection {
  height: 245px;
  padding: 15px 0 39px 0;
  background: #f7f8f9; }
  .sw-collection .collection-wrap {
    height: 171px;
    max-width: 980px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    color: #1e1e1e; }
    .sw-collection .collection-wrap .sw-header {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 28px;
      line-height: 30px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      -webkit-font-smoothing: antialiased; }
      .sw-collection .collection-wrap .sw-header sup {
        position: relative;
        top: -0.25em;
        display: flex;
        align-items: baseline;
        font-size: 75%; }
    .sw-collection .collection-wrap .rogue-one {
      width: 100%;
      font-size: 13px;
      letter-spacing: .00125em;
      margin-top: 14px;
      display: flex;
      justify-content: center; }
    .sw-collection .collection-wrap .promotion {
      width: 100%;
      color: #acb1b4;
      font-size: 13px;
      margin-top: 13px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      -webkit-font-smoothing: antialiased;
      letter-spacing: .25px; }
      .sw-collection .collection-wrap .promotion a {
        text-decoration: underline;
        cursor: pointer; }
        .sw-collection .collection-wrap .promotion a:hover {
          text-decoration: none; }
      .sw-collection .collection-wrap .promotion sup {
        position: relative;
        top: -0.25em;
        display: flex;
        align-items: baseline;
        font-size: 75%; }
      .sw-collection .collection-wrap .promotion small {
        font-size: 80%;
        position: relative;
        align-self: flex-end; }
    .sw-collection .collection-wrap .shop-div {
      width: 100%;
      display: flex;
      justify-content: center; }
      .sw-collection .collection-wrap .shop-div button {
        height: 46px;
        width: 200px;
        font-size: 13px;
        -webkit-font-smoothing: antialiased;
        font-weight: 500;
        letter-spacing: .05em;
        line-height: 46px;
        padding: 0 20px;
        background-color: #1e1e1e;
        border: 0;
        cursor: pointer;
        color: white; }
        .sw-collection .collection-wrap .shop-div button:hover {
          box-shadow: inset 0 0 0 3px #383838; }

.watch-row-one-wrap {
  height: 391px;
  background: #f7f8f9;
  margin-top: -13px; }
  .watch-row-one-wrap .watch-row-container {
    height: 391px;
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap; }
    .watch-row-one-wrap .watch-row-container .watch-div {
      height: 391px;
      width: 33.3333333333%;
      padding-top: 1em;
      padding-left: 1em;
      color: #1e1e1e;
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: .25px;
      line-height: 15px;
      -webkit-font-smoothing: antialiased; }
      .watch-row-one-wrap .watch-row-container .watch-div .inner-watch-wrap .watch-img {
        height: 247px;
        transition: opacity .25s;
        cursor: pointer; }
        .watch-row-one-wrap .watch-row-container .watch-div .inner-watch-wrap .watch-img:hover {
          opacity: .7; }
      .watch-row-one-wrap .watch-row-container .watch-div .inner-watch-wrap .description-wrap {
        height: 51px;
        margin-top: 24px;
        display: flex;
        justify-content: center;
        flex-direction: column; }
        .watch-row-one-wrap .watch-row-container .watch-div .inner-watch-wrap .description-wrap a {
          cursor: pointer;
          color: #acb1b4;
          font-size: 11px;
          letter-spacing: .25px;
          text-align: center; }
        .watch-row-one-wrap .watch-row-container .watch-div .inner-watch-wrap .description-wrap span {
          cursor: pointer;
          color: #1e1e1e;
          font-size: 12px;
          margin-top: 6px;
          text-align: center;
          letter-spacing: .25px; }

.nixon-essentials-container {
  height: 638px;
  padding-bottom: 15px; }
  .nixon-essentials-container .nixon-essentials-wrap {
    height: 561px;
    margin: 60px 0; }
    .nixon-essentials-container .nixon-essentials-wrap .inner-container {
      height: 561px;
      max-width: 940px;
      margin: 0 auto; }
      .nixon-essentials-container .nixon-essentials-wrap .inner-container .content-container {
        box-sizing: border-box;
        color: #1e1e1e;
        font-family: "Montserrat", sans-serif; }
        .nixon-essentials-container .nixon-essentials-wrap .inner-container .content-container h2 {
          font-size: 24px;
          font-weight: 700;
          letter-spacing: .007em;
          line-height: 24px;
          padding-top: 30px;
          margin-top: 20px;
          margin-bottom: 10px;
          text-align: center; }
        .nixon-essentials-container .nixon-essentials-wrap .inner-container .content-container p {
          margin-bottom: 25px;
          color: #acb1b4;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: .25px;
          margin-top: 21px;
          padding: 0 17.666%;
          text-align: center;
          -webkit-font-smoothing: antialiased;
          text-transform: none; }
        .nixon-essentials-container .nixon-essentials-wrap .inner-container .content-container .watch-container {
          margin-top: -1em;
          margin-left: -1em;
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap; }
          .nixon-essentials-container .nixon-essentials-wrap .inner-container .content-container .watch-container .single-watch-div {
            width: 25%;
            box-sizing: border-box;
            margin-right: -0.31em;
            padding-top: 1em;
            padding-left: 1em; }
            .nixon-essentials-container .nixon-essentials-wrap .inner-container .content-container .watch-container .single-watch-div .watch-inner-wrap {
              box-sizing: border-box;
              font-family: "Montserrat", sans-serif; }
              .nixon-essentials-container .nixon-essentials-wrap .inner-container .content-container .watch-container .single-watch-div .watch-inner-wrap .top-spacer {
                height: 30px; }
              .nixon-essentials-container .nixon-essentials-wrap .inner-container .content-container .watch-container .single-watch-div .watch-inner-wrap .watch-img-wrap {
                height: 261px;
                position: relative;
                padding: 18px 35px 19px; }
                .nixon-essentials-container .nixon-essentials-wrap .inner-container .content-container .watch-container .single-watch-div .watch-inner-wrap .watch-img-wrap .watch-img {
                  height: 100%;
                  max-width: 100%;
                  cursor: pointer; }
              .nixon-essentials-container .nixon-essentials-wrap .inner-container .content-container .watch-container .single-watch-div .watch-inner-wrap .watch-title {
                margin: 24px 0 10px 0;
                text-align: center;
                color: #1e1e1e;
                cursor: pointer; }
                .nixon-essentials-container .nixon-essentials-wrap .inner-container .content-container .watch-container .single-watch-div .watch-inner-wrap .watch-title span {
                  text-decoration: none;
                  font-size: 12px;
                  letter-spacing: .75px; }
                .nixon-essentials-container .nixon-essentials-wrap .inner-container .content-container .watch-container .single-watch-div .watch-inner-wrap .watch-title sub {
                  left: -0.35em;
                  font-size: 60%; }
                .nixon-essentials-container .nixon-essentials-wrap .inner-container .content-container .watch-container .single-watch-div .watch-inner-wrap .watch-title:hover {
                  color: #acb1b4; }
              .nixon-essentials-container .nixon-essentials-wrap .inner-container .content-container .watch-container .single-watch-div .watch-inner-wrap .watch-pricing {
                text-align: center;
                color: #9b9e9f;
                margin-bottom: 5px;
                font-size: 11px;
                letter-spacing: .25px;
                -webkit-font-smoothing: antialiased; }
                .nixon-essentials-container .nixon-essentials-wrap .inner-container .content-container .watch-container .single-watch-div .watch-inner-wrap .watch-pricing .pricing-separator {
                  padding: 0 4px; }
              .nixon-essentials-container .nixon-essentials-wrap .inner-container .content-container .watch-container .single-watch-div .watch-inner-wrap .bottom-spacer {
                min-height: 55px;
                margin: 14px 14px 0; }

.collaborative-video-container {
  height: 1113px; }
  .collaborative-video-container .collaborative-video-inner-container {
    height: 1113px;
    padding-bottom: 15px;
    background-color: #f7f8f9; }
    .collaborative-video-container .collaborative-video-inner-container .content-wrapper {
      height: 1098px;
      max-width: 940px;
      margin: 0 auto;
      padding-top: 60px; }
      .collaborative-video-container .collaborative-video-inner-container .content-wrapper .image-container {
        height: 419px;
        margin-top: -1em;
        margin-left: -1em;
        display: flex;
        flex-direction: row; }
        .collaborative-video-container .collaborative-video-inner-container .content-wrapper .image-container .image-div-wrapper {
          height: 419px;
          width: 50%;
          margin-right: -0.31em;
          padding-top: 1em;
          padding-left: 1em; }
          .collaborative-video-container .collaborative-video-inner-container .content-wrapper .image-container .image-div-wrapper .image-content {
            height: 364px; }
            .collaborative-video-container .collaborative-video-inner-container .content-wrapper .image-container .image-div-wrapper .image-content .image {
              height: 300px;
              cursor: pointer; }
            .collaborative-video-container .collaborative-video-inner-container .content-wrapper .image-container .image-div-wrapper .image-content .image-text {
              height: 39px;
              margin-top: 22px;
              margin-bottom: 42px;
              font-family: "Montserrat", sans-serif;
              -webkit-font-smoothing: antialiased;
              letter-spacing: .25px;
              line-height: 15px;
              text-align: center;
              display: flex;
              flex-direction: column;
              justify-content: center; }
              .collaborative-video-container .collaborative-video-inner-container .content-wrapper .image-container .image-div-wrapper .image-content .image-text .light-gray {
                height: 23px;
                padding-bottom: 8px;
                color: #acb1b4;
                font-weight: 400;
                font-size: 11px; }
              .collaborative-video-container .collaborative-video-inner-container .content-wrapper .image-container .image-div-wrapper .image-content .image-text .dark-gray {
                color: #1e1e1e;
                font-size: 12px;
                font-weight: 400; }
      .collaborative-video-container .collaborative-video-inner-container .content-wrapper .video-container {
        height: 631.75px;
        width: 100%; }
        .collaborative-video-container .collaborative-video-inner-container .content-wrapper .video-container .video-content {
          height: 589.75px; }
          .collaborative-video-container .collaborative-video-inner-container .content-wrapper .video-container .video-content .video-wrapper {
            height: 528.75px; }
            .collaborative-video-container .collaborative-video-inner-container .content-wrapper .video-container .video-content .video-wrapper .nixon-video {
              width: 940px;
              height: 528.28px; }
          .collaborative-video-container .collaborative-video-inner-container .content-wrapper .video-container .video-content .video-caption {
            margin-top: 22px;
            margin-bottom: 42px;
            font-family: "Montserrat", sans-serif;
            letter-spacing: .25px;
            line-height: 15px;
            -webkit-font-smoothing: antialiased;
            display: flex;
            flex-direction: column;
            justify-content: center; }
            .collaborative-video-container .collaborative-video-inner-container .content-wrapper .video-container .video-content .video-caption .light-gray-caption {
              color: #acb1b4;
              font-weight: 400;
              font-size: 11px;
              text-align: center;
              padding-bottom: 8px; }
            .collaborative-video-container .collaborative-video-inner-container .content-wrapper .video-container .video-content .video-caption .dark-gray-caption {
              color: #1e1e1e;
              font-size: 12px;
              font-weight: 400;
              text-align: center; }

.stainless-steel-container {
  height: 516px; }
  .stainless-steel-container .inner-container {
    height: 516px;
    max-width: 940px;
    background: white;
    margin: 0 auto 60px; }
    .stainless-steel-container .inner-container .header-wrap {
      height: 73px;
      color: #1e1e1e;
      font-family: "Montserrat", sans-serif; }
      .stainless-steel-container .inner-container .header-wrap h2 {
        font-size: 24px;
        letter-spacing: 0;
        line-height: 28px;
        padding-top: 35px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased; }
    .stainless-steel-container .inner-container .watch-container {
      height: 456px;
      margin-top: -1em;
      margin-left: -1em;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center; }
      .stainless-steel-container .inner-container .watch-container .diameter-wrap {
        height: 133px;
        width: 33.3333333333%;
        padding-top: 1em;
        padding-left: 1em; }
        .stainless-steel-container .inner-container .watch-container .diameter-wrap .inner-wrap {
          height: 94px;
          width: 195px;
          margin: 0 18%; }
          .stainless-steel-container .inner-container .watch-container .diameter-wrap .inner-wrap ul {
            height: 94px;
            width: 195px; }
            .stainless-steel-container .inner-container .watch-container .diameter-wrap .inner-wrap ul .diameter {
              height: 34px;
              margin-bottom: 26px;
              position: relative;
              min-width: 232px;
              font-family: "Montserrat", sans-serif;
              font-style: normal;
              letter-spacing: .25px;
              line-height: 15px;
              -webkit-font-smoothing: antialiased; }
              .stainless-steel-container .inner-container .watch-container .diameter-wrap .inner-wrap ul .diameter .dm-icons {
                font-size: 28px;
                color: #1e1e1e;
                top: 6px;
                left: 10px;
                position: absolute; }
              .stainless-steel-container .inner-container .watch-container .diameter-wrap .inner-wrap ul .diameter span {
                left: 63px;
                position: absolute;
                top: 14px;
                color: #1e1e1e;
                font-size: 13px;
                font-weight: bold;
                text-transform: uppercase; }
                .stainless-steel-container .inner-container .watch-container .diameter-wrap .inner-wrap ul .diameter span sub {
                  top: .0125em;
                  position: relative;
                  bottom: -0.25em;
                  font-size: 75%;
                  line-height: 0;
                  color: #1e1e1e;
                  font-weight: bold;
                  text-transform: uppercase; }
      .stainless-steel-container .inner-container .watch-container .watch-img-wrap {
        height: 456px;
        width: 33.3333333333%;
        cursor: pointer;
        padding-top: 1em;
        padding-left: 1em; }
        .stainless-steel-container .inner-container .watch-container .watch-img-wrap .watch-img {
          height: 440px;
          width: 300px; }
      .stainless-steel-container .inner-container .watch-container .watch-title-wrap {
        height: 289px;
        width: 33.3333333333%;
        margin-right: -0.31em;
        padding-top: 1em;
        padding-left: 1em; }
        .stainless-steel-container .inner-container .watch-container .watch-title-wrap .content-wrap {
          height: 163px;
          font-family: "Montserrat", sans-serif;
          color: #1e1e1e;
          -webkit-font-smoothing: antialiased;
          display: flex;
          justify-content: center;
          flex-direction: column; }
          .stainless-steel-container .inner-container .watch-container .watch-title-wrap .content-wrap h3 {
            font-size: 22px;
            letter-spacing: .25px;
            text-align: center;
            line-height: 26px;
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: 700; }
            .stainless-steel-container .inner-container .watch-container .watch-title-wrap .content-wrap h3 sub {
              top: .0125em;
              bottom: -0.25em;
              font-size: 75%;
              line-height: 0; }
          .stainless-steel-container .inner-container .watch-container .watch-title-wrap .content-wrap span {
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
            color: #acb1b4;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: .25px;
            line-height: 15px; }
          .stainless-steel-container .inner-container .watch-container .watch-title-wrap .content-wrap p {
            margin: 10px 25px 14px;
            color: #1e1e1e;
            padding: 10px 0 14px;
            text-align: center;
            font-size: 12px;
            line-height: 22px;
            letter-spacing: .25px; }
        .stainless-steel-container .inner-container .watch-container .watch-title-wrap .button-wrap {
          display: flex;
          justify-content: center;
          flex-wrap: wrap; }
          .stainless-steel-container .inner-container .watch-container .watch-title-wrap .button-wrap button {
            height: 46px;
            width: 200px;
            font-size: 13px;
            -webkit-font-smoothing: antialiased;
            font-weight: 500;
            line-height: 46px;
            padding: 0 20px;
            background-color: #1e1e1e;
            border: 0;
            cursor: pointer;
            color: white; }
            .stainless-steel-container .inner-container .watch-container .watch-title-wrap .button-wrap button:hover {
              box-shadow: inset 0 0 0 3px #383838; }
          .stainless-steel-container .inner-container .watch-container .watch-title-wrap .button-wrap .top-btn {
            letter-spacing: .05em;
            margin-bottom: 19px; }

.shop-by-case {
  height: 429px;
  margin-top: 60px;
  padding-bottom: 40px; }
  .shop-by-case .shop-container {
    height: 389px;
    max-width: 940px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased; }
    .shop-by-case .shop-container h2 {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 28px;
      padding-top: 55px;
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: center; }
    .shop-by-case .shop-container p {
      font-size: 12px;
      line-height: 22px;
      letter-spacing: .25px;
      text-align: center;
      color: #acb1b4;
      max-width: 460px;
      margin: 15px auto 34px;
      padding: 0 30px; }
    .shop-by-case .shop-container .watch-size-container {
      height: 226px;
      display: flex;
      flex-direction: row; }
      .shop-by-case .shop-container .watch-size-container .individual-watch-div {
        width: 25%;
        height: 226px;
        padding-top: 1em;
        padding-left: 1em; }
        .shop-by-case .shop-container .watch-size-container .individual-watch-div .hover-div {
          transition: transform .25s; }
          .shop-by-case .shop-container .watch-size-container .individual-watch-div .hover-div .size {
            font-size: 13px;
            font-style: normal;
            letter-spacing: .25px;
            line-height: 15px;
            color: #acb1b4;
            font-weight: 400;
            margin-bottom: 10px;
            text-align: center;
            cursor: pointer; }
          .shop-by-case .shop-container .watch-size-container .individual-watch-div .hover-div .measurement {
            color: #1e1e1e;
            margin-bottom: 10px;
            text-align: center;
            font-size: 13px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: .25px;
            line-height: 15px;
            cursor: pointer; }
            .shop-by-case .shop-container .watch-size-container .individual-watch-div .hover-div .measurement sub {
              font-size: 75%;
              line-height: 0;
              cursor: pointer; }
          .shop-by-case .shop-container .watch-size-container .individual-watch-div .hover-div:hover {
            transform: translateY(-5px); }
        .shop-by-case .shop-container .watch-size-container .individual-watch-div .image-wrap {
          height: 154.53px;
          width: 100%;
          display: flex;
          justify-content: center; }
          .shop-by-case .shop-container .watch-size-container .individual-watch-div .image-wrap .size-image {
            width: 200px;
            height: 154.53px;
            margin-bottom: 5px;
            cursor: pointer;
            transition: transform .25s; }
            .shop-by-case .shop-container .watch-size-container .individual-watch-div .image-wrap .size-image:hover {
              transform: scale(1.06); }

.exclusive-offers {
  height: 116px;
  background-color: #f7f8f9;
  border-bottom: 1px solid #d1d4d6;
  border-top: 1px solid #d1d4d6; }
  .exclusive-offers .content-container {
    height: 61px;
    margin: 28px auto 25px;
    max-width: 960px; }
    .exclusive-offers .content-container .exclusive-form {
      height: 100%;
      width: 100%;
      color: #1e1e1e;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-style: normal;
      letter-spacing: .25px;
      line-height: 15px;
      -webkit-font-smoothing: antialiased;
      display: flex;
      flex-direction: row; }
      .exclusive-offers .content-container .exclusive-form .label {
        width: 33.3333333333%;
        text-align: right;
        padding-top: 3px;
        font-size: 18px;
        line-height: 38px;
        color: #2c2d2d; }
      .exclusive-offers .content-container .exclusive-form .input-wrap {
        width: 33.3333333333%;
        height: 38px;
        margin-left: 0;
        padding-left: 30px;
        padding-right: 30px; }
        .exclusive-offers .content-container .exclusive-form .input-wrap input {
          border: 1px solid #acb1b4;
          font-family: "Montserrat", sans-serif;
          font-size: 13px;
          -webkit-font-smoothing: antialiased;
          padding: .7em .5em;
          text-indent: 0;
          height: 38px;
          width: 100%;
          background-color: white; }
      .exclusive-offers .content-container .exclusive-form .join-wrap {
        width: 33.3333333333%; }
        .exclusive-offers .content-container .exclusive-form .join-wrap button {
          width: 120px;
          height: 46px;
          color: white;
          font-family: "Montserrat", sans-serif;
          background-color: #1e1e1e;
          border: 0;
          box-shadow: inset 0 0 0 3px #1e1e1e;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: .05em;
          line-height: 46px;
          max-width: 404px;
          margin-bottom: .25em;
          padding: 0 20px;
          text-align: center;
          cursor: pointer; }
          .exclusive-offers .content-container .exclusive-form .join-wrap button:hover {
            box-shadow: inset 0 0 0 3px #383838; }

.footer-links {
  height: 304px;
  width: 100%;
  margin-top: 30px; }
  .footer-links .content-container {
    height: 304px;
    padding-right: 2em;
    margin: 0 auto;
    max-width: 980px;
    padding-bottom: 58px;
    display: flex;
    flex-direction: row; }
    .footer-links .content-container .column-links {
      height: 246px;
      margin-right: -0.31em;
      width: 16.6666666667%;
      margin-left: 8.3333333333%;
      padding-left: 1em;
      font-family: "Montserrat", sans-serif; }
      .footer-links .content-container .column-links h3 {
        font-size: 12px;
        line-height: 26px;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 4px;
        letter-spacing: .5px;
        margin-top: 20px;
        margin-bottom: 10px; }
      .footer-links .content-container .column-links hr {
        background: #1e1e1e;
        border: 0;
        color: #1e1e1e;
        float: left;
        height: 2px;
        margin: 0;
        text-align: left;
        width: 36px; }
      .footer-links .content-container .column-links ul {
        margin: 28px 0 0; }
        .footer-links .content-container .column-links ul .list-item {
          line-height: 18px;
          margin: 10px 0; }
          .footer-links .content-container .column-links ul .list-item .item-text {
            color: #1e1e1e;
            font-size: 11px;
            text-decoration: none;
            cursor: pointer; }
            .footer-links .content-container .column-links ul .list-item .item-text:hover {
              color: #acb1b4; }

.footer-image {
  height: 511px;
  font-family: "Montserrat", sans-serif;
  color: #1e1e1e;
  letter-spacing: .25px; }
  .footer-image p {
    width: 62%;
    height: 400px;
    font-size: 16px;
    line-height: 30px;
    margin: auto;
    min-width: 320px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    padding: 250px 0 60px; }
    .footer-image p em {
      font-style: italic; }
  .footer-image .social-icons {
    width: 25%;
    height: 23px;
    margin: 0 auto 23px; }
    .footer-image .social-icons ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center; }
      .footer-image .social-icons ul li {
        margin: 0 11px;
        font-size: 15px;
        -webkit-font-smoothing: antialiased;
        transition: opacity .25s;
        cursor: pointer; }
        .footer-image .social-icons ul li:hover {
          opacity: .6; }
  .footer-image .nixon-signature {
    padding-bottom: 50px;
    font-size: 11px;
    margin: auto;
    min-width: 320px;
    max-width: 1280px;
    text-align: center;
    width: 25%; }

.scroll-btn {
  width: 36px;
  height: 50px;
  position: fixed;
  right: 0px;
  bottom: 100px;
  background-color: #1e1e1e;
  cursor: pointer;
  behavior: smooth; }

/*# sourceMappingURL=style.css.map */
